<!DOCTYPE html>
<html lang="en">
<% include ../common/html-head %>
<body>
    <% include ../common/header %>
    <div class="container">
        <% include ../common/side-nav %>
        <div class="main">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                    <span class="arrow">></span>
                </li>
                <li>
                    <a class="active" data-catid="<%=currentCategory.catid%>" href="javascript:;"><%=currentCategory.name%></a>
                </li>
            </ul>
            <% include ./product-grid %>
        </div>
    </div>
    <% include ../common/footer %>
</body>
</html>