.nav {
    float: left;
    height: 500px;
    width: 200px;
    background-color: #ffffff;
}

.nav .category {
    padding-top: 8px;
}

.nav .category .item {
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    cursor: pointer;
}

.nav .category .item.active,.item:hover {
    background-color: #f0f0f0;
}

.main {
    width: 990px;
    margin-left: 210px;
}

.breadcrumb {
    height: 30px;
    line-height: 30px;
    background: #f0f0f0;
    overflow: hidden;
}

.breadcrumb li {
    float: left;
    margin-left: 5px;
}

.breadcrumb li .arrow {
    margin: 0 0 0 5px;
}