<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link<%=page=='category'?' active':''%>" href="/admin/category">
                    category
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link<%=page=='product'?' active':''%>" href="/admin/product">
                    product
                </a>
            </li>
        </ul>
    </div>
</nav>