<header class="header">
    <div class="hd-container">
        <div class="logo fl">
            <h1>
                <a href="/">hettyMart</a>
            </h1>
        </div>
        <ul class="personal fr">
            <li class="nav-menu">
                <span>hetty</span>
            </li>
            <li class="nav-gap"></li>
            <!-- <li class="nav-menu panel-unfold"> -->
            <li class="nav-menu _shopping_list">
                <div class="nav-menu-hd">shopping list</div>
                <div class="nav-menu-bd">
                    <div class="nav-menu-bd-panel">
                        <div class="mini-cart-hd">to be paied: </div>
                        <ul class="mini-cart-bd">
                        </ul>
                        <div class="mini-cart-footer">
                            <span class="mini-total-amount fl">total:<strong>0</strong></span>
                            <input class="btn fr" type="button" value="to PayPal" />
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>