<div class="product-detail">
    <div class="tabs">
        <div class="tab-wrap">
            <ul class="tab-hd">
                <li class="tab active">information</li>
                <li class="tab">special offers</li>
                <li class="tab">comments</li>
            </ul>
        </div>
    </div>
    <div class="tab-bd">
        Advanced Face ID. Security is simple when your face is your password. You can unlock your iPhone, log in to apps, and pay for things with a glance. It’s the most secure facial authentication ever in a smartphone. And now it’s even faster.
    </div>
</div>