<div class="product-intro">
    <div class="preview-wrap">
        <div class="preview">
            <img src="<%=product.image%>" alt="Apple iPhone XS Max">
        </div>
    </div>
    <div class="info-wrap">
        <div class="sku-name"><%=product.name%></div>
        <div class="summary">
            <div class="price">
                <span>price:</span>
                <strong>$<%=product.price%></strong>
            </div>
        </div>
        <div class="counter">
            <em class="counter-btn minus">-</em>
            <input readonly class="counter-input" type="text" value="1" />
            <em class="counter-btn add">+</em>
        </div>
        <div class="btns">
            <input type="button" class="btn btn-big" value="ADD TO CART"/>
            <input type="button" class="btn btn-big btn-buy" value="TO PAYPAL"/>
        </div>
    </div>
</div>