<div class="product-detail">
    <div class="tabs">
        <div class="tab-wrap">
            <ul class="tab-hd">
                <li class="tab active">information</li>
                <li class="tab">special offers</li>
                <li class="tab">comments</li>
            </ul>
        </div>
    </div>
    <div class="tab-bd">
        <%=product.description%>
    </div>
</div>