<footer class="footer">
    <ul class="container links">
        <li class="link"><h3>links:</h3></li>
        <li class="link"><span><a href="#">amazon</a></span><b>|</b></li>
        <li class="link"><a href="#">tmall</a><b>|</b></li>
        <li class="link"><a href="#">walmart</a><b>|</b></li>
        <li class="link"><a href="#">jd</a></li>
    </ul>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/art-template.js"></script>
<script src="<%= js %>.js"></script>