<header class="header">
    <div class="hd-container">
        <div class="logo fl">
            <h1>
                <a href="/">hettyMart</a>
            </h1>
        </div>
        <ul class="personal fr">
            <li class="nav-menu">
                <span>hetty</span>
            </li>
            <li class="nav-gap"></li>
            <li class="nav-menu panel-unfold">
                <div class="nav-menu-hd">shopping list</div>
                <div class="nav-menu-bd">
                    <div class="nav-menu-bd-panel">
                        <div class="mini-cart-hd">to be paied: </div>
                        <ul class="mini-cart-bd">
                            <li>
                                <div class="mini-cart-img">
                                    <a href="#">
                                        <img src="./images/goods/iphonexs_max.jpg" alt="">
                                    </a>
                                </div>
                                <div class="mini-cart-price">
                                    $
                                    <strong>2000</strong>
                                </div>
                                <div class="mini-cart-title">
                                    <a href="#">Apple iphone XS Max (A2104) 64GB 金色 移动联通电信4G手机 双卡双待</a>
                                </div>
                                <div class="mini-cart-del">
                                    <a href="javascript:;">删除</a>
                                </div>
                                <div class="mini-cart-counter">
                                    <em class="counter-btn minus">-</em>
                                    <input readonly class="counter-input" type="text" value="1" />
                                    <em class="counter-btn add">+</em>
                                </div>
                            </li>
                            <li>
                                <div class="mini-cart-img">
                                    <a href="#">
                                        <img src="./images/goods/huawei_mate_rs.jpg" alt="">
                                    </a>
                                </div>
                                <div class="mini-cart-price">
                                    $
                                    <strong>2500</strong>
                                </div>
                                <div class="mini-cart-title">
                                    <a href="#">华为（HUAWEI） 华为Mate RS 保时捷设计版全网通手机 玄黑色 全网通</a>
                                </div>
                                <div class="mini-cart-del">
                                    <a href="javascript:;">删除</a>
                                </div>
                                <div class="mini-cart-counter">
                                    <em class="counter-btn minus">-</em>
                                    <input readonly class="counter-input" type="text" value="1" />
                                    <em class="counter-btn add">+</em>
                                </div>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="mini-cart-footer">
                            <input class="btn fr" type="button" value="to PayPal" />
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>